.graphCanvas{
	width: 500px;
	height:500px;
	border: 1px solid #ffffff;
	background-color:#ffffff;
	float:left;
}

#commandBox{
	width:230px;
	float:right;
	background-color:#eeeeee;
	padding:5px;
	height:200px;
}

.graphcalc{
	width:750px;
	height:500px;
	background-color:#dddddd;
	padding:10px;
	margin:auto;
	font: 12px monospace;
    float:right;
}

#commandBox input{
	width:175px;
}

