body{
    background-color: #fc6;
    font: 12px verdana;
    color: #c71;
}

a:link {
    color: #4e88aa;
    text-decoration:none;
}
a:visited {
    color: #4e88aa;
    text-decoration:none;
}
a:hover {
    color: #fe7;
    text-decoration:none;
}

div.main{
    background-color: #fe7;
    width:850px;
    margin:0 auto;
    margin-top:50px;
    border-radius:30px;
    padding:30px;
}

div.info{
    background-color: #adf;
    border-radius:30px;
    float:left;
    width:550px;
    height:100px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    color: #4e88aa;
}

div.data{
    float:right;
    border-radius:30px;
    background-color: #adf;
    width:200;
    height:100px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    color: #4e88aa;
}

div.gui{
    width:inherit;
    border:0;
    margin:0;
    padding:0;
    margin-top:150px;
}

div.foodbox{
    border-radius:40px;
    background-color: #5f99bb;
    width:450px;
    height:380px;
    padding-top:20px;
    float:left;
    margin:0;
}

div.person{
    width:300px;
    height:400px;
    margin:0;
    float:right;
    position:relative;
}

div.mouth{
    border:3px dotted #a00;
    border-radius:50px;
    width:100px;
    height:75px;
    margin-top:60px;
    margin-left:80px;
}

div.belly{
    border:0px solid #a00;
    margin-top: 40px;
    margin-left: 20px;
    width:300px;
}

div.break{
    clear:both;
}

.foodbox td{
    font: 11px verdana;
    width:123px;
    height:120px;
    padding:10px;
    padding-bottom:20px;
}

.belly td{
    font-size: 8px;
    border:0px solid #fff;
    width:80px;
    height:70px;
    padding:5px;
    padding-bottom:7px;
    width:60px;
}

div.item{
    text-align:center;
    color: #aaddff;
}